body {
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
}
.nav-link{
    padding-top: 17px;
}
.card {
    border-radius: 10px;
}


.btn-primary, .btn-success, .btn-danger {
    border-radius: 20px;
    font-weight: bold;
}


.navbar {
    border-bottom: 2px solid #007bff;
}


.nav-link {
    font-size: 1.1rem;
}


.navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
}
.btn{
    padding-bottom: 8px
}


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

button#text {
    margin: 0 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px 0px;
    width: fit-content;
    margin: 0 auto 20px auto;
}

.grid-button {
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

button:disabled {
    background-color: #f1f1f1;
    color: #aaa;
}

.controls {
    margin-top: 20px;
}